[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/
.vs/
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
crashlytics-build.mtl
*.apk
*.aab
*.unitypackage
*.app

# backup/rac sinh tu dong (git da la ban backup)
LOC_Backup/
Assets/_Recovery/
Assets/_Recovery.meta
LOC_KiemTra/
*.csproj
*.sln
